.app {
  text-align: center;
  padding: 10px;
  color: aliceblue;
  min-height: 100vh;
  background-color: rgb(28, 28, 28);
}
.app__forms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.app__logo {
  height: 10vmin;
  pointer-events: none;
}
.vl {
  border-left: 6px solid rgb(3, 187, 215);
  height: 500px;
}

.form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  text-align: left;
  margin: 5rem;
}
.form__btn {
  margin-top: 2rem;
  border: none;
  height: 2rem;
  width: 10rem;
  cursor: pointer;
  background-color: rgb(232, 232, 232);
}
.form__group {
  display: flex;
  flex-direction: column;
  width: 10rem;
  margin-top: 2rem;
}
.form__group input {
  background-color: rgb(232, 232, 232);
  margin-top: 0.5rem;
  height: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .app__logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
